@media (min-width: 540px){
	.data__btns{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.data__btn{
		width: 200px;
		margin: 0;
		margin: 0 8px;

	}
	.data__content h2{
		font-size: 60px;
	}
	.section__title {
		font-size: 60px;
	}
	.offer h1{
		font-size: 65px;
	}
	.offer p{
		line-height: 1.7;
		width: 60%;
		margin: 20px auto;
		font-size: 16px;
	}
	.plan__card{
		height: 500px;
	}
}
@media (min-width: 720px){

	.plan__card{
		height: 550px;
	}
	.plan__card{
		width: 47%;
	}
	.plan__prices{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
	.section__text{
		width: 30%;

	}
}

@media (min-width: 850px){
	.footer-nav{
		flex-direction: row;
	}
	footer .nav-item a{
	padding: 0 8px;

	}
	nav{
		flex-direction: row;
		justify-content: space-between;
	}
	.nav__list{
		margin: 0;
		margin-left: auto;
		margin-right: 42px;
	}
	.plan__card p{
		line-height: 1.6;
		font-size: 16px;
	}
	.plan__card{
		padding: 70px 25px;
	}
}
@media (min-width: 1140px){

	.nav-item{
		padding: 0 10px;
	}
	.nav-item a{
		font-size: 16px;
		padding: 0 10px;
	}	
	.offer{
		margin: auto;
	}
	.offer h1{
		font-size: 86px;
	}
	.offer p{
		line-height: 1.7;
		width: 30%;
		margin: 20px auto;
		font-size: 16px;
	}




	.plan .container{
		max-width: 80%;
	}

	.plan__prices{
		display: flex;
		flex-wrap: nowrap;
		text-align: center;
		justify-content: space-between;
	}
}
